<div class='headerMain'>
  <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1657411642/APLogo-20-20.png" alt="" class='imgArgPrograma'>
  
    <img class='imgRed imgFacebook' src="../../assets/img/facebook.png" (click)='linkToFacebook()' alt="">
    <img class='imgRed imgInstagram' src="../../assets/img/instagram.png" (click)='linkToInstagram()' alt="">
    <img class='imgRed imgLinkedin' src="../../assets/img/linkedin.png" (click)='linkToLinkedin()' alt="">
    <button class='editar' (click)='botonEditar()'>Editar</button>
  

</div>

<img src="../../assets/img/banner.jpg" class='banner' alt="">