/* You can add global styles to this file, and also import other style files */

body {
  background-color: blue;
}

.seccionTitle{
  color: whitesmoke;
  background-color: black;
  border-radius: 9px;
}

.titulo{
  display: flex;
  margin-top: 3%;
  margin-left: 8px;
}

.icono{
  margin-left: 12px;
}

.icono-display{
  display: flex;
}

.icono:hover{
  cursor: pointer;
}

.card{
  display: flex;
  margin: 8px;
}

p{
  margin: 5px;
}

.agregar{
  font-size: 1.5em;
}

